/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('bgimage.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 2.0rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1px;
  margin-left: 20px; /* Add margin for spacing */
}

.header {
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the header */
  align-items: center;
  width: 100%; /* Take full width of the container */
  padding: 20px; /* Adjust padding as needed */
}

.logout-button {
  background-color: hsl(210, 10%, 96%); /* Blue background color */
  color: hsl(0, 0%, 0%); /* White text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Padding around the button text */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-right: 20px;
  margin-top: 12px;

  /* Optional: Add box-shadow for depth effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.username-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-input input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.username-input button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.chat-window {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 100%; /* Make the chat window take full width */
  height: 100vh; /* Make the chat window take full height of viewport */
  overflow-y: scroll;
  margin-bottom: 3px;
}

.message-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 3px; /* Add margin between chat window and message input */
  width: calc(100% - 6px); /* Subtract margin from full width */
}

.message-input input {
  flex: 1;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.message-input button {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  background-image: url('send.png'); /* Path to your PNG image */
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px; /* Adjust the size as needed */
  height: 60px; /* Adjust the size as needed */
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('bgimage.jpg'); /* Replace with your image path */
  justify-content: center;
  height: 100vh;
  width: 100%; /* Make the auth page take full width */
}

.auth-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.auth-page input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-page button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.auth-page .error {
  color: red;
}
