.chat-window {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  display: flex;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  margin-left: 10px; /* Adjust margin for messages */
  margin-right: 10px; /* Adjust margin for messages */
}

.my-message {
  align-self: flex-end;
  background-color: #dcf8c6; /* Light green */


}

.other-message {
  align-self: flex-start;
  background-color: #f1f0f0; /* Light gray */
}

.username {
  font-weight: bold;
  margin-right: 5px;
}

.text {
  white-space: pre-wrap; /* Preserve new lines */
}
