.message-input {
  display: flex;
  border-top: 1px solid #ddd;
  background: #fff;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.message-input button:hover {
  background: #0056b3;
}
